<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "food1.jpg" %>')";>
  <div>
    <h1> RecipeHub</h1>
    <h3>Save your favourite recipes</h3>
  </div>
</div>


<div class="container">
  <div class="category-header">
    <h2>List of Categories</h2>
    <%= link_to "Add a Category", new_category_path, class: "create-btn" %>
  </div>

  <div class="card-container">

    <% @categories.each do |category| %>
      <%= link_to category_path(category), class: "category-card", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('#{category.photo.attached? ? cl_image_path(category.photo.key, crop: :fill) : image_path("https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", crop: :fill)}')" do %>

        <div>
          <p> <%= category.name %> </p>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
